## Sales Data Mining Project

Objective The primary aim of this data mining project is to conduct an in-depth analysis of sales data to derive valuable insights into sales performance, identify emerging trends, and develop data-driven business strategies for improved decision-making.

## About Dataset/Metadata

With growing demands and cut-throat competitions in the market, a Superstore Giant is seeking your knowledge in understanding what works best for them. They would like to understand which products, regions, categories and customer segments they should target or avoid.
You can even take this a step further and try and build a Regression model to predict Sales or Profit.Go crazy with the dataset, but also make sure to provide some business insights to improve.

Row ID => Unique ID for each row.

Order ID => Unique Order ID for each Customer.

Order Date => Order Date of the product.

Ship Date => Shipping Date of the Product.

Ship Mode=> Shipping Mode specified by the Customer.

Customer ID => Unique ID to identify each Customer.

Customer Name => Name of the Customer.

Segment => The segment where the Customer belongs.

Country => Country of residence of the Customer.

City => City of residence of of the Customer.

State => State of residence of the Customer.

Postal Code => Postal Code of every Customer.

Region => Region where the Customer belong.

Product ID => Unique ID of the Product.

Category => Category of the product ordered.

Sub-Category => Sub-Category of the product ordered.

Product Name => Name of the Product

Sales => Sales of the Product.

Quantity => Quantity of the Product.

Discount => Discount provided.

Profit => Profit/Loss incurred.

In [177]:
## Importing Libraries

# 1. Pandas for data manipulation and loading CSV files
import pandas as pd

# 2. SQLite for in-memory SQL database (you can also use MySQL, PostgreSQL, etc., but SQLite is easiest for local analysis)
import sqlite3

# 3. SQLAlchemy to help with database connections and writing SQL queries
from sqlalchemy import create_engine

# 4. If needed, load additional libraries for data visualization and analysis
import matplotlib.pyplot as plt
import seaborn as sns

In [178]:
# Load CSV into a DataFrame

# Try reading the CSV file with a different encoding
df = pd.read_csv("Sample - Superstore.csv", encoding='ISO-8859-1')

In [179]:
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [180]:
## Set up an In-Memory SQLite Database and Load Data:

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
# Write DataFrame to SQLite database
df.to_sql('Superstore', conn, index=False, if_exists='replace')

9994

In [181]:
# Check for missing values
df.dropna(inplace=True)

# Remove duplicates
df.drop_duplicates(inplace=True)

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None
            Row ID   Postal Code         Sales     Quantity     Discount  \
count  9994.000000   9994.000000   9994.000000  9994.000000  9994.000000
mean   4997.500000  55190.379428    229.858001     3.789574     0.156203
std    2885.163629  32063.693350    623.245101     2.225110     0.206452
min       1.000000   1040.000000      0.444000     1.000000     0.000000
25%    2499.250000  23223.000000     17.280000     2.000000     0.000000
50%    4997.500000  56430.500000     54.490000     3.000000     0.200000
75%    7495.750000  90008.000000    209.940000     5.000000     0.200000
max    9994.000000  99301.000000  22638.480000    14.000000     0.800000

            Profit
count  9994.000000
mean     28.656896
std     234.260108
min   -6599.978000
25%       1.728750
50%       8.666500
75%      29.364000
max    8399.976000

In [182]:
#import sqlite3

# Connect to your database
#conn = sqlite3.connect('Superstore.db')

# Create a cursor object
cursor = conn.cursor()

# Rename multiple columns
try:
    # Rename "Row ID" to "Row_ID"
    cursor.execute("""
    ALTER TABLE "Superstore" 
    RENAME COLUMN "Row ID" TO Row_ID;
    """)
    
    # Rename "Order ID" to "Order_ID"
    cursor.execute("""
    ALTER TABLE "Superstore" 
    RENAME COLUMN "Order ID" TO Order_ID;
    """)
    
    # Rename "Order Date" to "Order_Date"
    cursor.execute("""
    ALTER TABLE "Superstore"
    RENAME COLUMN "Order Date" TO Order_Date;
    """)
    
    # Rename "Ship Date" to "Ship_Date"
    cursor.execute("""
    ALTER TABLE "Superstore" 
    RENAME COLUMN "Ship Date" TO Ship_Date;
    """)
    
    # Rename "Ship Mode" to "Ship_Mode"
    cursor.execute("""
    ALTER TABLE "Superstore" 
    RENAME COLUMN "Ship Mode" TO Ship_Mode;
    """)
    
    # Rename "Customer ID" to "Customer_ID"
    cursor.execute("""
    ALTER TABLE "Superstore" 
    RENAME COLUMN "Customer ID" TO Customer_ID;
    """)
    
    # Rename "Postal Code" to "Postal_Code"
    cursor.execute("""
    ALTER TABLE "Superstore" 
    RENAME COLUMN "Postal Code" TO Postal_Code;
    """)
    
    # Rename "Product ID" to "Product_ID"
    cursor.execute("""
    ALTER TABLE "Superstore" 
    RENAME COLUMN "Product ID" TO Product_ID;
    """)
    
    # Rename "Product Name" to "Product_Name"
    cursor.execute("""
    ALTER TABLE "Superstore" 
    RENAME COLUMN "Product Name" TO Product_Name;
    """)

    print("Columns renamed successfully.")
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
    

# Commit the changes 
conn.commit()

Columns renamed successfully.

In [183]:
# Query to fetch all data with updated column names
query = """
SELECT 
    Row_ID,
    Order_ID,
    Order_Date,
    Ship_Date,
    Ship_Mode,
    Customer_ID,
    Segment,
    Country,
    City,
    State,
    Postal_Code,
    Region,
    Product_ID,
    Category,
    "Sub-Category" AS Sub_Category,
    Product_Name,
    Sales,
    Quantity,
    Discount,
    Profit
FROM 
    Superstore;
"""

# Execute query and load results into a DataFrame
Newdf = pd.read_sql_query(query, conn)

# Display the DataFrame
print(Newdf.head())

   Row_ID        Order_ID  Order_Date   Ship_Date       Ship_Mode Customer_ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Segment        Country             City       State  Postal_Code Region  \
0   Consumer  United States        Henderson    Kentucky        42420  South
1   Consumer  United States        Henderson    Kentucky        42420  South
2  Corporate  United States      Los Angeles  California        90036   West
3   Consumer  United States  Fort Lauderdale     Florida        33311  South
4   Consumer  United States  Fort Lauderdale     Florida        33311  South

        Product_ID         Category Sub_Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product_Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

# ANALYSIS IN DEPTH

# 1. **Sales Performance Analysis**
   - **Objective**: Identify high-performing products, categories, and regions.
   - **Key Metrics**: Total sales, profit margins, sales by region and category, and revenue growth.
   - **Insights**: Determine the top-selling products and categories and which regions contribute the most to overall sales. This helps in resource allocation, inventory planning, and demand forecasting.

### a. Total Sales and Profit by Category:

In [187]:


# Execute your query

query = """
SELECT Category, SUM(Sales) AS Total_Sales, SUM(Profit) AS Total_Profit
FROM Superstore
GROUP BY Category;
"""
Newdf1 = pd.read_sql_query(query, conn)

print(df1)

          Category  Total_Sales  Total_Profit
0        Furniture  741999.7953    18451.2728
1  Office Supplies  719047.0320   122490.8008
2       Technology  836154.0330   145454.9481

### b.Total Sales and Profit by Region:

In [189]:

query = """SELECT Region, SUM(Sales) AS Total_Sales, SUM(Profit) AS Total_Profit
FROM superstore
GROUP BY Region
ORDER BY Total_Sales DESC;
"""
Newdf2 = pd.read_sql_query(query,conn)

print(Newdf2)

    Region  Total_Sales  Total_Profit
0     West  725457.8245   108418.4489
1     East  678781.2400    91522.7800
2  Central  501239.8908    39706.3625
3    South  391721.9050    46749.4303

### c. Top Selling Products:

In [191]:

query = """
SELECT 
    Product_Name, 
    SUM(Sales) AS Total_Sales, 
    SUM(Profit) AS Total_Profit
FROM 
    Superstore
GROUP BY 
    Product_Name
ORDER BY 
    Total_Sales DESC
LIMIT 10;
"""

# Execute query and load results into a DataFrame
Newdf3 = pd.read_sql_query(query, conn)

# Display the results
print(Newdf3)

                                        Product_Name  Total_Sales  \
0              Canon imageCLASS 2200 Advanced Copier    61599.824
1  Fellowes PB500 Electric Punch Plastic Comb Bin...    27453.384
2  Cisco TelePresence System EX90 Videoconferenci...    22638.480
3       HON 5400 Series Task Chairs for Big and Tall    21870.576
4         GBC DocuBind TL300 Electric Binding System    19823.479
5   GBC Ibimaster 500 Manual ProClick Binding System    19024.500
6               Hewlett Packard LaserJet 3310 Copier    18839.686
7  HP Designjet T520 Inkjet Large Format Printer ...    18374.895
8          GBC DocuBind P400 Electric Binding System    17965.068
9        High Speed Automatic Electric Letter Opener    17030.312

   Total_Profit
0  2.519993e+04
1  7.753039e+03
2 -1.811078e+03
3  8.526513e-14
4  2.233505e+03
5  7.609800e+02
6  6.983884e+03
7  4.094977e+03
8 -1.878166e+03
9 -2.620048e+02

In [192]:
print(Newdf.columns)

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Segment', 'Country', 'City', 'State', 'Postal_Code',
       'Region', 'Product_ID', 'Category', 'Sub_Category', 'Product_Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

## d. Revenue Growth Calculation (assuming we have a way to define previous periods):

In [194]:
print(Newdf.columns)

# Rename columns if necessary
Newdf.columns = Newdf.columns.str.strip()  # Removes any leading/trailing whitespace

# Confirm if 'Order Date' is the correct column name
if 'Order Date' in df.columns:
    # Convert 'Order Date' to datetime and reformat to 'YYYY-MM-DD'
    df['Order_Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
else:
    print("The column 'Order Date' was not found. Here are the columns:", df.columns)

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Segment', 'Country', 'City', 'State', 'Postal_Code',
       'Region', 'Product_ID', 'Category', 'Sub_Category', 'Product_Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [195]:
# Convert 'Order Date' to datetime and reformat to 'YYYY-MM-DD'
Newdf['Order_Date'] = pd.to_datetime(Newdf['Order_Date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

# Connect to SQLite database
#conn = sqlite3.connect('your_database.db')

# Load data into SQLite, replacing the existing Superstore table if it exists
Newdf.to_sql('Superstore', conn, if_exists='replace', index=False)

# Define query to calculate total sales for each month and year
query = """
SELECT strftime('%Y', Order_Date) AS Year, 
       strftime('%m', Order_Date) AS Month, 
       SUM(Sales) AS Total_Sales
FROM Superstore
GROUP BY Year, Month
ORDER BY Year, Month;
"""

# Execute query and load results into a DataFrame
result_df = pd.read_sql_query(query, conn)

# Display the results
print(result_df)

    Year Month  Total_Sales
0   2014    01   14236.8950
1   2014    02    4519.8920
2   2014    03   55691.0090
3   2014    04   28295.3450
4   2014    05   23648.2870
5   2014    06   34595.1276
6   2014    07   33946.3930
7   2014    08   27909.4685
8   2014    09   81777.3508
9   2014    10   31453.3930
10  2014    11   78628.7167
11  2014    12   69545.6205
12  2015    01   18174.0756
13  2015    02   11951.4110
14  2015    03   38726.2520
15  2015    04   34195.2085
16  2015    05   30131.6865
17  2015    06   24797.2920
18  2015    07   28765.3250
19  2015    08   36898.3322
20  2015    09   64595.9180
21  2015    10   31404.9235
22  2015    11   75972.5635
23  2015    12   74919.5212
24  2016    01   18542.4910
25  2016    02   22978.8150
26  2016    03   51715.8750
27  2016    04   38750.0390
28  2016    05   56987.7280
29  2016    06   40344.5340
30  2016    07   39261.9630
31  2016    08   31115.3743
32  2016    09   73410.0249
33  2016    10   59687.7450
34  2016    11   79411.9658
35  2016    12   96999.0430
36  2017    01   43971.3740
37  2017    02   20301.1334
38  2017    03   58872.3528
39  2017    04   36521.5361
40  2017    05   44261.1102
41  2017    06   52981.7257
42  2017    07   45264.4160
43  2017    08   63120.8880
44  2017    09   87866.6520
45  2017    10   77776.9232
46  2017    11  118447.8250
47  2017    12   83829.3188

In [196]:
query = """
SELECT strftime('%Y', Order_Date) AS Year, 
       SUM(Sales) AS Total_Sales
FROM Superstore
GROUP BY Year
ORDER BY Total_Sales DESC;
"""

# Execute query and load results into a DataFrame
result_df1 = pd.read_sql_query(query, conn)

# Display the results
print(result_df1)

   Year  Total_Sales
0  2017  733215.2552
1  2016  609205.5980
2  2014  484247.4981
3  2015  470532.5090

In [197]:
query = """
SELECT strftime('%Y', Order_Date) AS Year, 
       strftime('%m', Order_Date) AS Month, 
       SUM(Sales) AS Total_Sales
FROM Superstore
GROUP BY Year, Month
ORDER BY Year, Total_Sales DESC;
"""

# Execute query and load results into a DataFrame
result_df2 = pd.read_sql_query(query, conn)

# Display the results
print(result_df2)

    Year Month  Total_Sales
0   2014    09   81777.3508
1   2014    11   78628.7167
2   2014    12   69545.6205
3   2014    03   55691.0090
4   2014    06   34595.1276
5   2014    07   33946.3930
6   2014    10   31453.3930
7   2014    04   28295.3450
8   2014    08   27909.4685
9   2014    05   23648.2870
10  2014    01   14236.8950
11  2014    02    4519.8920
12  2015    11   75972.5635
13  2015    12   74919.5212
14  2015    09   64595.9180
15  2015    03   38726.2520
16  2015    08   36898.3322
17  2015    04   34195.2085
18  2015    10   31404.9235
19  2015    05   30131.6865
20  2015    07   28765.3250
21  2015    06   24797.2920
22  2015    01   18174.0756
23  2015    02   11951.4110
24  2016    12   96999.0430
25  2016    11   79411.9658
26  2016    09   73410.0249
27  2016    10   59687.7450
28  2016    05   56987.7280
29  2016    03   51715.8750
30  2016    06   40344.5340
31  2016    07   39261.9630
32  2016    04   38750.0390
33  2016    08   31115.3743
34  2016    02   22978.8150
35  2016    01   18542.4910
36  2017    11  118447.8250
37  2017    09   87866.6520
38  2017    12   83829.3188
39  2017    10   77776.9232
40  2017    08   63120.8880
41  2017    03   58872.3528
42  2017    06   52981.7257
43  2017    07   45264.4160
44  2017    05   44261.1102
45  2017    01   43971.3740
46  2017    04   36521.5361
47  2017    02   20301.1334

### 2. **Customer Segmentation**
   - **Objective**: Segment customers based on purchasing behavior and demographics.
   - **Key Metrics**: Total purchase value, frequency of purchases, and preferred product categories.
   - **Insights**: Develop targeted marketing strategies by understanding different customer groups (e.g., high-value customers, frequent buyers, discount-sensitive customers).

In [199]:
query = """
SELECT 
    Customer_ID, 
    SUM(Sales) AS Total_Purchase_Value,
    COUNT(DISTINCT "Order ID") AS Purchase_Frequency,
    (SELECT Category
     FROM Superstore AS S2
     WHERE S2."Customer_ID" = S1."Customer_ID"
     GROUP BY Category
     ORDER BY SUM(Sales) DESC
     LIMIT 1) AS Preferred_Category
FROM 
    Superstore AS S1
GROUP BY 
    Customer_ID;
"""

# Execute query and load results into a DataFrame
Segmentation = pd.read_sql_query(query, conn)

# Display the results
print(Segmentation)

    Customer_ID  Total_Purchase_Value  Purchase_Frequency Preferred_Category
0      AA-10315              5563.560                   1    Office Supplies
1      AA-10375              1056.390                   1         Technology
2      AA-10480              1790.512                   1         Technology
3      AA-10645              5086.935                   1          Furniture
4      AB-10015               886.156                   1          Furniture
..          ...                   ...                 ...                ...
788    XP-21865              2374.658                   1    Office Supplies
789    YC-21895              5454.350                   1    Office Supplies
790    YS-21880              6720.444                   1    Office Supplies
791    ZC-21910              8025.707                   1          Furniture
792    ZD-21925              1493.944                   1         Technology

[793 rows x 4 columns]

##### To expand on customer segmentation for targeted marketing, let's build a query that:

- Calculates Total Purchase Value: Sum of sales for each customer.

- Calculates Purchase Frequency: Counts the number of unique orders made by each customer.

- Identifies Preferred Product Category: Determines which category each customer spends the most on.

We'll also group customers into segments based on their purchasing behaviors. For instance:

- High-value customers: Top spenders.
- Frequent buyers: Customers who purchase often.
- Discount-sensitive customers: Customers who mostly buy products with a high discount.

In [201]:

query = """
SELECT 
    Customer_ID AS CustomerID, 
    SUM(Sales) AS Total_Purchase_Value,
    COUNT(DISTINCT "Order ID") AS Purchase_Frequency,
    (SELECT Category
     FROM Superstore AS S2
     WHERE S2.Customer_ID = S1.Customer_ID
     GROUP BY Category
     ORDER BY SUM(Sales) DESC
     LIMIT 1) AS Preferred_Category,
    -- Define segments
    CASE 
        WHEN SUM(Sales) >= 10000 THEN 'High-Value Customer'
        WHEN COUNT(DISTINCT "Order ID") >= 10 THEN 'Frequent Buyer'
        ELSE 'Occasional Buyer'
    END AS Segment
FROM 
    Superstore AS S1
GROUP BY 
    "Customer ID"
ORDER BY 
    Total_Purchase_Value DESC
LIMIT 5;
"""

# Execute the query and load the results into a DataFrame
Segmentation1 = pd.read_sql_query(query, conn)

# Display the results
print(Segmentation1)

  CustomerID  Total_Purchase_Value  Purchase_Frequency Preferred_Category  \
0   CG-12520          2.297201e+06                   1          Furniture

               Segment
0  High-Value Customer

### Explanation of the Code:

- **Customer ID**: Unique identifier for each customer.
- **Total Purchase Value**: Total spend calculated by summing up `Sales`.
- **Purchase Frequency**: Total number of unique orders for each customer.
- **Preferred Category**: The category with the highest sales value for each customer.
- **Segment**: Categorizes customers based on their total purchase value and purchase frequency.

### Insights for Marketing Strategy

1. **High-Value Customers**: Consider VIP offers, personalized recommendations, and early access to new products.
2. **Frequent Buyers**: Implement loyalty programs or subscription-based services to keep them engaged.
3. **Occasional Buyers**: Use targeted discounts or promotional offers to increase purchase frequency.

# 3. **Product Profitability Analysis**

   - **Objective**: Analyze the profitability of products and categories.

   - **Key Metrics**: Profit margin per product, category-level profitability, and high-profit products.

   - **Insights**: Identify which products generate the most profit and focus on promoting or expanding these categories.
   -  Low-profit products can be reconsidered for promotional strategies or possible discontinuation.

In [204]:
# SQL Query for Product Profitability Analysis
query = """
SELECT 
    Product_Name, 
    Category, 
    SUM(Profit) AS Total_Profit,
    SUM(Sales) AS Total_Sales,
    (SUM(Profit) / SUM(Sales)) * 100 AS Profit_Margin,
    CASE 
        WHEN (SUM(Profit) / SUM(Sales)) * 100 >= 20 THEN 'High-Profit Product'
        WHEN (SUM(Profit) / SUM(Sales)) * 100 < 10 THEN 'Low-Profit Product'
        ELSE 'Moderate-Profit Product'
    END AS Profit_Category
FROM 
    Superstore
GROUP BY 
    Product_Name, Category
ORDER BY 
    Total_Profit DESC;
"""

# Execute the query and load results into a DataFrame
ProductProfitability = pd.read_sql_query(query, conn)

# Display the top results
print(ProductProfitability.head(10))

                                        Product_Name         Category  \
0              Canon imageCLASS 2200 Advanced Copier       Technology
1  Fellowes PB500 Electric Punch Plastic Comb Bin...  Office Supplies
2               Hewlett Packard LaserJet 3310 Copier       Technology
3                 Canon PC1060 Personal Laser Copier       Technology
4  HP Designjet T520 Inkjet Large Format Printer ...       Technology
5                  Ativa V4110MDD Micro-Cut Shredder       Technology
6   3D Systems Cube Printer, 2nd Generation, Magenta       Technology
7  Plantronics Savi W720 Multi-Device Wireless He...       Technology
8               Ibico EPK-21 Electric Binding System  Office Supplies
9                  Zebra ZM400 Thermal Label Printer       Technology

   Total_Profit  Total_Sales  Profit_Margin      Profit_Category
0    25199.9280    61599.824      40.909091  High-Profit Product
1     7753.0390    27453.384      28.240741  High-Profit Product
2     6983.8836    18839.686      37.070064  High-Profit Product
3     4570.9347    11619.834      39.337349  High-Profit Product
4     4094.9766    18374.895      22.285714  High-Profit Product
5     3772.9461     7699.890      49.000000  High-Profit Product
6     3717.9714    14299.890      26.000000  High-Profit Product
7     3696.2820     9367.290      39.459459  High-Profit Product
8     3345.2823    15875.916      21.071429  High-Profit Product
9     3343.5360     6965.700      48.000000  High-Profit Product

#### Key Components

-Total_Profit: The total profit generated by each product, calculated by summing up the Profit column.

-Total_Sales: The total sales value for each product.
                                  
-Profit_Margin: Calculated as (Total_Profit / Total_Sales) * 100, this indicates the profit percentage for each product.

Profit_Category: Categorizes products into "High-Profit", "Moderate-Profit", and "Low-Profit" based on their profit margin:

*High-Profit Product*: Profit margin >= 20%

*Moderate-Profit Product:* Profit margin between 10% and 20%

*Low-Profit Product:* Profit margin < 10%

### Insights 

High-Profit Products: By examining the Profit_Category column, you can identify products with a high profit margin that could be prioritized for promotion.

Low-Profit Products: Products with low profitability might benefit from promotional strategies to increase sales volume or could be considered for discontinuation if unprofitable in the long term.

Category-Level Profitability: Summing the profit values at the category level can highlight which categories contribute the most to the bottom line, helping to decide on focus areas for product development and marketing.
.

#  4. **Inventory Optimization**

   - **Objective**: Optimize stock levels to meet demand without overstocking.
   - 
   - **Key Metrics**: Stock turnover rate, product demand by season, and stockout occurrences.
   - 
   - **Insights**: Reduce stockouts and excess inventory by understanding which products need higher or lower inventory levels during different times of the year.

#### a. Calculate Product Turnover Rate:

Estimate the demand for each product by calculating total quantities sold over time. Products with high quantities sold are likely high-turnover items needing more frequent stock replenishment.

In [209]:
query = """
SELECT 
    Product_ID, 
    Product_Name, 
    SUM(Quantity) AS Total_Quantity_Sold
FROM 
    Superstore
GROUP BY 
    Product_ID, Product_Name
ORDER BY 
    Total_Quantity_Sold DESC;
"""
turnover_df = pd.read_sql_query(query, conn)
print(turnover_df.head(10))

        Product_ID                                       Product_Name  \
0  OFF-BI-10001524  GBC Premium Transparent Covers with Diagonal L...
1  FUR-CH-10002647         Situations Contoured Folding Chairs, 4/Set
2  FUR-TA-10001095                 Chromcraft Round Conference Tables
3  FUR-CH-10003774    Global Wood Trimmed Manager's Task Chair, Khaki
4  OFF-BI-10004728  Wilson Jones Turn Tabs Binder Tool for Ring Bi...
5  TEC-AC-10003038         Kingston Digital DataTraveler 16GB USB 2.0
6  OFF-ST-10001809                  Fellowes Officeware Wire Shelving
7  FUR-CH-10002880          Global High-Back Leather Tilter, Burgundy
8  FUR-CH-10004287                           SAFCO Arco Folding Chair
9  OFF-PA-10003441                                          Xerox 226

   Total_Quantity_Sold
0                   67
1                   64
2                   61
3                   59
4                   59
5                   57
6                   55
7                   54
8                   53
9                   53

#### b. Identify Seasonal Demand Patterns:

Extract month and year from the Order_Date to analyze demand patterns. This helps to understand peak seasons and adjust stock levels accordingly.

In [211]:
query = """SELECT 
    Product_ID,
    strftime('%m', Order_Date) AS Month,
    SUM(Quantity) AS Total_Quantity
FROM 
    Superstore
GROUP BY 
    Product_ID, Month
ORDER BY 
    Product_ID, Month;
    """
demandpatterns = pd.read_sql_query(query, conn)
print(demandpatterns.head(10))

        Product_ID Month  Total_Quantity
0  FUR-BO-10000112    09               9
1  FUR-BO-10000330    05               2
2  FUR-BO-10000330    09               4
3  FUR-BO-10000330    11               4
4  FUR-BO-10000362    03               3
5  FUR-BO-10000362    05               2
6  FUR-BO-10000362    06               1
7  FUR-BO-10000362    11               6
8  FUR-BO-10000362    12               2
9  FUR-BO-10000468    01               1

### c. Sales and Profitability Insights:

High-profit products with low quantities sold may be prioritized differently from high-turnover, low-profit items. This insight can inform inventory decisions, especially when managing limited stockroom space.

In [213]:
query = """
SELECT 
    Product_ID, 
    Product_Name, 
    SUM(Sales) AS Total_Sales,
    SUM(Profit) AS Total_Profit,
    SUM(Quantity) AS Total_Quantity_Sold
FROM 
    Superstore
GROUP BY 
    Product_ID, Product_Name
ORDER BY 
    Total_Profit DESC;
"""
profitability_df = pd.read_sql_query(query, conn)
print(profitability_df.head(10))

        Product_ID                                       Product_Name  \
0  TEC-CO-10004722              Canon imageCLASS 2200 Advanced Copier
1  OFF-BI-10003527  Fellowes PB500 Electric Punch Plastic Comb Bin...
2  TEC-CO-10001449               Hewlett Packard LaserJet 3310 Copier
3  TEC-CO-10003763                 Canon PC1060 Personal Laser Copier
4  TEC-MA-10001127  HP Designjet T520 Inkjet Large Format Printer ...
5  TEC-MA-10003979                  Ativa V4110MDD Micro-Cut Shredder
6  TEC-MA-10001047   3D Systems Cube Printer, 2nd Generation, Magenta
7  TEC-AC-10002049  Plantronics Savi W720 Multi-Device Wireless He...
8  OFF-BI-10001120               Ibico EPK-21 Electric Binding System
9  TEC-MA-10000045                  Zebra ZM400 Thermal Label Printer

   Total_Sales  Total_Profit  Total_Quantity_Sold
0    61599.824    25199.9280                   20
1    27453.384     7753.0390                   31
2    18839.686     6983.8836                   38
3    11619.834     4570.9347                   19
4    18374.895     4094.9766                   12
5     7699.890     3772.9461                   11
6    14299.890     3717.9714                   11
7     9367.290     3696.2820                   24
8    15875.916     3345.2823                   13
9     6965.700     3343.5360                    6

# 5. **Customer Lifetime Value (CLV) Estimation**
   - **Objective**: Calculate and optimize the long-term value of customers.
   - 
   - **Key Metrics**: Average purchase frequency, average order value, retention rate.
   - 
   - **Insights**: Calculate CLV to determine the worth of each customer and adjust marketing strategies to improve retention and maximize each customer's long-term value.

#### To estimate Customer Lifetime Value (CLV) in SQL, we can break down the calculation by focusing on three main metrics:

- Average Purchase Frequency: How often a customer makes a purchase.
- Average Order Value: The average value of each order.
- Retention Rate: The percentage of customers who make repeat purchases.

In [216]:
##-- Calculate Average Order Value and Purchase Frequency

query = """ 
 WITH CustomerMetrics AS (
    SELECT 
        Customer_ID,
        COUNT(DISTINCT Order_ID) AS Total_Orders,
        SUM(Sales) AS Total_Spent,
        AVG(Sales) AS Average_Order_Value,
        (JULIANDAY(MAX(Order_Date)) - JULIANDAY(MIN(Order_Date))) / 365.0 AS Customer_Lifetime_Years
    FROM 
        Superstore
    GROUP BY 
        Customer_ID
),

PurchaseFrequency AS (
    SELECT 
        Customer_ID,
        Total_Orders / Customer_Lifetime_Years AS Purchase_Frequency,
        Average_Order_Value,  -- Include Average_Order_Value here
        Total_Spent
    FROM 
        CustomerMetrics
),

CustomerRetention AS (
    SELECT 
        Customer_ID,
        CASE 
            WHEN Total_Orders > 1 THEN 1
            ELSE 0
        END AS Is_Retained
    FROM 
        CustomerMetrics
),

CustomerCLV AS (
    SELECT 
        pf.Customer_ID,
        pf.Average_Order_Value,
        pf.Purchase_Frequency,
        cr.Is_Retained,
        (pf.Average_Order_Value * pf.Purchase_Frequency * 5 * cr.Is_Retained) AS Estimated_CLV
    FROM 
        PurchaseFrequency pf
    JOIN 
        CustomerRetention cr ON pf.Customer_ID = cr.Customer_ID
)

SELECT 
    Customer_ID,
    ROUND(Estimated_CLV, 2) AS Customer_Lifetime_Value
FROM 
    CustomerCLV
ORDER BY 
    Customer_Lifetime_Value DESC;

"""

CLV = pd.read_sql_query(query, conn)
print(CLV)

    Customer_ID  Customer_Lifetime_Value
0      GR-14560                468798.70
1      CD-12280                 26037.76
2      TC-20980                 19316.83
3      NB-18580                 19223.71
4      CC-12370                 18529.68
..          ...                      ...
788    PH-18790                      NaN
789    RE-19405                      NaN
790    RM-19750                      NaN
791    SM-20905                      NaN
792    TC-21145                      NaN

[793 rows x 2 columns]

# 6. **Regional Sales Trends and Seasonality**
   - **Objective**: Analyze sales patterns across regions and seasons.
   - **Key Metrics**: Monthly sales trends, year-over-year growth, and regional sales distribution.
   - **Insights**: Identify seasonal or regional trends to prepare for peak periods and ensure sufficient staffing and stock in high-demand areas.

In [261]:
query = """ SELECT strftime('%Y-%m', Order_Date) AS Sales_Month, Region, Sales
FROM Superstore
LIMIT 10;"""

test = pd.read_sql_query(query, conn)
print(test)

  Sales_Month Region     Sales
0     2016-11  South  261.9600
1     2016-11  South  731.9400
2     2016-06   West   14.6200
3     2015-10  South  957.5775
4     2015-10  South   22.3680
5     2014-06   West   48.8600
6     2014-06   West    7.2800
7     2014-06   West  907.1520
8     2014-06   West   18.5040
9     2014-06   West  114.9000

In [265]:
query = """ WITH MonthlySales AS (
    SELECT
        strftime('%Y-%m', Order_Date) AS Sales_Month,
        Region,
        SUM(Sales) AS Total_Sales,
        SUM(Quantity) AS Total_Quantity,
        SUM(Discount) AS Total_Discount,
        SUM(Profit) AS Total_Profit
    FROM
        Superstore
    GROUP BY
        Sales_Month, Region
)
SELECT * FROM MonthlySales;"""

test2= pd.read_sql_query(query,conn)
print(test2)

    Sales_Month   Region  Total_Sales  Total_Quantity  Total_Discount  \
0       2014-01  Central    1539.9060              62            3.30
1       2014-01     East     436.1740              33            3.30
2       2014-01    South    9322.0920             125            0.90
3       2014-01     West    2938.7230              64            2.50
4       2014-02  Central    1233.1740              69            5.40
..          ...      ...          ...             ...             ...
187     2017-11     West   28941.7870             556           14.35
188     2017-12  Central   18883.0708             369           21.72
189     2017-12     East   20084.4160             484           19.50
190     2017-12    South   15209.7370             239            7.25
191     2017-12     West   29652.0950             631           19.25

     Total_Profit
0        118.4902
1        -39.3564
2       2346.6640
3         24.3929
4        294.8067
..            ...
187     3443.2497
188    -1238.3754
189     3225.0994
190     2327.2979
191     4169.3249

[192 rows x 6 columns]

In [281]:
query =  """ WITH MonthlySales AS (
    SELECT
        strftime('%Y-%m', Order_Date) AS Sales_Month,
        Region,
        SUM(Sales) AS Total_Sales,
        SUM(Quantity) AS Total_Quantity,
        SUM(Discount) AS Total_Discount,
        SUM(Profit) AS Total_Profit
    FROM
        Superstore
    GROUP BY
        Sales_Month, Region
),
YearlySales AS (
    SELECT
        strftime('%Y', Sales_Month || '-01') AS Sales_Year,  -- Extracts the year from Sales_Month
        Region,
        SUM(Total_Sales) AS Yearly_Sales
    FROM
        MonthlySales
    GROUP BY
        Sales_Year, Region
)
SELECT Sales_Year, Region, Yearly_Sales FROM YearlySales;"""
regionalsaletrend= pd.read_sql_query(query,conn)
print(regionalsaletrend)

   Sales_Year   Region  Yearly_Sales
0        2014  Central   103838.1646
1        2014     East   128680.4570
2        2014    South   103845.8435
3        2014     West   147883.0330
4        2015  Central   102874.2220
5        2015     East   156332.0570
6        2015    South    71359.9805
7        2015     West   139966.2495
8        2016  Central   147429.3760
9        2016     East   180685.8220
10       2016    South    93610.2235
11       2016     West   187480.1765
12       2017  Central   147098.1282
13       2017     East   213082.9040
14       2017    South   122905.8575
15       2017     West   250128.3655

# 7. **Sales Forecasting**
   - **Objective**: Predict future sales based on historical data.
   - **Key Metrics**: Forecast accuracy, sales projections by month, and category-level forecasts.
   - **Insights**: Prepare inventory, staffing, and marketing strategies based on projected demand. Forecasting also assists in setting realistic sales goals.

In [283]:
query = """ WITH MonthlySales AS (
    SELECT
        strftime('%Y-%m', Order_Date) AS Sales_Month,
        Category,
        SUM(Sales) AS Total_Sales
    FROM
        Superstore
    GROUP BY
        Sales_Month, Category
),
MovingAverageForecast AS (
    SELECT
        Sales_Month,
        Category,
        Total_Sales,
        AVG(Total_Sales) OVER (
            PARTITION BY Category
            ORDER BY Sales_Month
            ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
        ) AS Sales_3Month_MovingAvg  -- 3-month moving average for forecasting
    FROM
        MonthlySales
)
SELECT 
    Sales_Month,
    Category,
    Total_Sales,
    Sales_3Month_MovingAvg AS Forecasted_Sales
FROM 
    MovingAverageForecast
ORDER BY 
    Sales_Month, Category;"""

salesforecast = pd.read_sql_query(query,conn)
print(salesforecast)

    Sales_Month         Category  Total_Sales  Forecasted_Sales
0       2014-01        Furniture    6242.5250       6242.525000
1       2014-01  Office Supplies    4851.0800       4851.080000
2       2014-01       Technology    3143.2900       3143.290000
3       2014-02        Furniture    1839.6580       4041.091500
4       2014-02  Office Supplies    1071.7240       2961.402000
..          ...              ...          ...               ...
139     2017-11  Office Supplies   31472.3370      28801.790667
140     2017-11       Technology   49918.7730      36572.346333
141     2017-12        Furniture   31407.4668      30116.083333
142     2017-12  Office Supplies   30436.9420      28315.490333
143     2017-12       Technology   21984.9100      34919.782000

[144 rows x 4 columns]

# 8. **Customer Satisfaction and Return Rate Analysis**
   - **Objective**: Analyze return rates and reasons for product returns.
   - **Key Metrics**: Return rate by product, category, and customer segment; reasons for returns.
   - **Insights**: Identify products with high return rates to improve quality control and minimize returns. Understand customer pain points and make necessary adjustments to product offerings or descriptions.

In [290]:
query = """
WITH ProductMetrics AS (
    SELECT
        Product_ID,
        Product_Name,
        Category,
        Segment,
        SUM(Sales) AS Total_Sales,
        SUM(Quantity) AS Total_Quantity,
        AVG(Discount) AS Avg_Discount,
        SUM(Profit) AS Total_Profit
    FROM
        Superstore
    GROUP BY
        Product_ID, Product_Name, Category, Segment
),

PotentialIssues AS (
    SELECT
        Product_ID,
        Product_Name,
        Category,
        Segment,
        Total_Sales,
        Total_Quantity,
        Avg_Discount,
        Total_Profit,
        CASE 
            WHEN Total_Profit < 0 THEN 'Low Profitability'
            WHEN Avg_Discount > 0.2 THEN 'High Discount Rate'
            WHEN Total_Quantity < 10 THEN 'Low Sales Volume'
            ELSE 'No Issues'
        END AS Satisfaction_Flag
    FROM
        ProductMetrics
)

SELECT 
    Product_ID,
    Product_Name,
    Category,
    Segment,
    Total_Sales,
    Total_Quantity,
    Avg_Discount,
    Total_Profit,
    Satisfaction_Flag
FROM 
    PotentialIssues
WHERE
    Satisfaction_Flag != 'No Issues'
ORDER BY 
    Satisfaction_Flag DESC, Total_Sales ASC;
"""

# Running the query
satisfaction = pd.read_sql_query(query, conn)
print(satisfaction)

           Product_ID                                       Product_Name  \
0     TEC-AC-10003709                          Maxell 4.7GB DVD-R 5/Pack
1     TEC-AC-10003709                          Maxell 4.7GB DVD-R 5/Pack
2     OFF-AR-10004582                  BIC Brite Liner Grip Highlighters
3     OFF-FA-10002676                                  Colored Push Pins
4     TEC-AC-10003433                          Maxell 4.7GB DVD+R 5/Pack
...               ...                                                ...
3253  TEC-CO-10003763                 Canon PC1060 Personal Laser Copier
3254  FUR-CH-10004287                           SAFCO Arco Folding Chair
3255  OFF-BI-10001359         GBC DocuBind TL300 Electric Binding System
3256  OFF-BI-10003527  Fellowes PB500 Electric Punch Plastic Comb Bin...
3257  OFF-BI-10000545   GBC Ibimaster 500 Manual ProClick Binding System

             Category      Segment  Total_Sales  Total_Quantity  Avg_Discount  \
0          Technology  Home Office        0.990               1      0.000000
1          Technology     Consumer        1.584               2      0.200000
2     Office Supplies  Home Office        1.640               1      0.000000
3     Office Supplies  Home Office        1.810               1      0.000000
4          Technology  Home Office        1.980               2      0.000000
...               ...          ...          ...             ...           ...
3253       Technology     Consumer     6719.904              12      0.200000
3254        Furniture     Consumer     6905.000              33      0.225000
3255  Office Supplies     Consumer    13096.054              26      0.371429
3256  Office Supplies     Consumer    14489.286              17      0.240000
3257  Office Supplies     Consumer    17122.050              38      0.457143

      Total_Profit   Satisfaction_Flag
0           0.4356    Low Sales Volume
1           0.4752    Low Sales Volume
2           0.7380    Low Sales Volume
3           0.6516    Low Sales Volume
4           0.8910    Low Sales Volume
...            ...                 ...
3253     2267.9676  High Discount Rate
3254      433.6340  High Discount Rate
3255      735.5318  High Discount Rate
3256     3685.8710  High Discount Rate
3257     2663.4300  High Discount Rate

[3258 rows x 9 columns]

# Conclusion